@model FireStation.Models.tbl_Accident

@{
    ViewBag.Title = "ثبت حادثه جدید";
    Layout = "~/Views/Shared/_LayoutPannel.cshtml";
}
<link rel="stylesheet" href="~/Content/css/image-uploader.min.css" />
<script type="text/javascript" src="~/Content/js/image-uploader.min.js"></script>
<style>

    .align-self-center {
        -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    }

    .image-uploader {
        min-height: 10rem;
        border: 2px dashed #d9d9d9;
        position: relative;
        border-radius: 20px;
    }

        .image-uploader input[type=file] {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            right: 0 !important;
        }

    form .form-control {
        border: 1px solid #A6A9AE;
        color: #75787D;
    }

    .image-uploader .uploaded {
        padding: .5rem;
        line-height: 0;
    }

    .radius12 {
        border-radius: 20px !important;
    }
</style>
@using (Html.BeginForm("Create", "Accident", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="row">
            <div class="col-lg-12 p-4">
                <h4 class="warning">
                    <i class="fa fa-warning"></i> لطفا هنگام وارد کردن تمام موارد نهایت دقت را لحاظ فرمایید
                </h4>
                <h4 class="warning">
                    <i class="fa fa-warning"></i> لطفا موارد ستاره دار را تکمیل فرمایید
                </h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-12 p-4">
                <form class="form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h4 class="form-section">
                            <i class="ft-clock"></i> تاریخ و زمان حادثه
                        </h4>

                        <h5 class="black">
                            شماره حادثه : @ViewBag.number
                        </h5>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h6>تاریخ حادثه<span class="required text-danger">*</span></h6>
                                    <div class="input-group datepiker">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" data-MdDateTimePicker="true" data-TargetSelector="#inlineFormInputGroup" data-EnableTimePicker="false" data-Placement="left" data-Trigger="click"><img src="~/Content/calendar-512.png" alt="cal" width="20" height="20" /></div>
                                        </div>
                                        <input type="text" class="form-control border-primary" name="AccidentDate" id="inlineFormInputGroup" data-MdDateTimePicker="true" data-TargetSelector="#inlineFormInputGroup" data-EnableTimePicker="false" data-Placement="left" data-Trigger="click" placeholder="تاریخ" dir="ltr" required>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.AccidentDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6 for="userinput1">زمان اعلام<span class="required text-danger">*</span></h6>
                                    <input type="time" class="form-control border-primary" name="AccidentTime" required>
                                    @Html.ValidationMessageFor(model => model.AccidentTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>زمان شروع عملیات<span class="required text-danger">*</span></h6>
                                    <input type="time" id="timesheetinput5" class="form-control border-primary" name="AccidentTimeStartOperation" required>
                                    @Html.ValidationMessageFor(model => model.AccidentTimeStartOperation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>زمان خاتمه عملیات<span class="required text-danger">*</span></h6>
                                    <input type="time" id="timesheetinput5" class="form-control border-primary" name="AccidentTimeEndOperation" required>
                                    @Html.ValidationMessageFor(model => model.AccidentTimeEndOperation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>زمان پاکسازی</h6>
                                    <input type="time" id="timesheetinput5" class="form-control border-primary" name="AccidentTimeToClear">
                                    @Html.ValidationMessageFor(model => model.AccidentTimeToClear, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <i class="icon-direction"></i> اطلاعات حادثه
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>آدرس محل حادثه<span class="required text-danger">*</span></h6>
                                    <textarea id="userinput8" rows="2" class="form-control border-primary" name="AccidentEventLocation" required></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentEventLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>خبردهنده<span class="required text-danger">*</span></h6>
                                    <input type="text" id="userinput2" class="form-control border-primary" name="AccidentReporter" required>
                                    @Html.ValidationMessageFor(model => model.AccidentReporter, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>گیرنده خبر<span class="required text-danger">*</span></h6>
                                    <select class="form-control border-primary selectpicker" data-live-search="true" name="AccidentReportReciver" required>
                                        @foreach (var item in ViewBag.Emp)
                                        {
                                            <option value="@item.EmployeeId">@item.EmployeeName@item.EmployeeLastName </option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentReportReciver, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>روش خبررسانی<span class="required text-danger">*</span></h6>
                                    <select id="AccidentReportType" name="AccidentReportType" class="form-control border-primary" required>
                                        <option value="0" selected>تلفنی</option>
                                        <option value="1">حضوری</option>
                                        <option value="2">بی سیم</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentReportType, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>نوع حادثه<span class="required text-danger">*</span></h6>
                                    <select id="projectinput6" name="AccidentTypeId" class="form-control border-primary selectpicker" data-live-search="true" required>
                                        <option selected hidden>انتخاب</option>
                                        @foreach (var item in ViewBag.AccidentTypeId)
                                        {
                                            <option value="@item.AccidentTypeId">@item.AccidentTypeTitel</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-top:33px;">
                                <a class="btn btn-deep-orange" data-toggle="collapse" data-target="#OtherReason">سایر حادثه ها</a>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>مورد کاربری<span class="required text-danger">*</span></h6>
                                    <select id="projectinput6" name="AccidentUsageId" class="form-control border-primary" required>
                                        @foreach (var item in ViewBag.AccidentUsageId)
                                        {
                                            <option value="@item.UsageId">@item.UsageTitel</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentUsageId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <h6>تعداد طبقات</h6>
                                    <input type="number" value="1" class="form-control border-primary" name="AccidentSiteFloors">
                                    @Html.ValidationMessageFor(model => model.AccidentSiteFloors, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>نوع ساختمان</h6>
                                    <input type="text" id="userinput2" class="form-control border-primary" name="AccidentBuildingType">
                                    @Html.ValidationMessageFor(model => model.AccidentBuildingType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="OtherReason" class="collapse col-md-12 mb-3">
                                <div class="col-md-12">
                                    <h6>نوع حادثه</h6>
                                    <input type="text" class="form-control border-primary" name="AccidentOtherType" />
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>مشخصات مالک<span class="required text-danger">*</span></h6>
                                    <input type="text" id="userinput2" class="form-control border-primary" name="AccidentBuildingOwner" required>
                                    @Html.ValidationMessageFor(model => model.AccidentBuildingOwner, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>مستاجر</h6>
                                    <input type="text" id="userinput2" class="form-control border-primary" name="AccidentBuildingTenant">
                                    @Html.ValidationMessageFor(model => model.AccidentBuildingTenant, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>شماره تلفن مالک</h6>
                                    <input type="text" class="form-control border-primary" name="AccidentBuildingTel" maxlength="11">
                                    @Html.ValidationMessageFor(model => model.AccidentBuildingTel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h6>علت حادثه<span class="required text-danger">*</span></h6>
                                <select class="form-control border-primary selectpicker" data-live-search="true" name="AccidentCause" required>
                                    <option selected disabled hidden>انتخاب</option>
                                    @foreach (var item in ViewBag.Cause)
                                    {
                                        <option value="@item.CauseId">@item.CauseTitel</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <h6>توضیح علت<span class="required text-danger">*</span></h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentDescrption" required></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentDescrption, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>شرایط جوی<span class="required text-danger">*</span></h6>
                                    <select id="projectinput6" name="AccidentWid" class="form-control border-primary" required>
                                        <!--**********-->
                                        @foreach (var item in ViewBag.AccidentWid)
                                        {
                                            <option value="@item.WeatherId">@item.WeatherTitel</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentWid, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <i class="ft-users"></i> مشارکت کنندگان
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6> ایستگاه های شرکت کننده<span class="required text-danger">*</span></h6>
                                    <select class="form-control border-primary selectpicker" multiple="multiple" data-live-search="true" name="OperatingStation" required>
                                        @foreach (var item in ViewBag.OpState)
                                        {
                                            <option value="@item.StateId">@item.StateName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>ارگان های حاضر در عملیات</h6>
                                    <select class="form-control border-primary selectpicker" multiple="multiple" data-live-search="true" name="Organisation">
                                        @foreach (var item in ViewBag.Organization)
                                        {
                                            <option value="@item.OrId">@item.OrTitel</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <h6>آتشنشان های حاضر در عملیات<span class="required text-danger">*</span></h6>
                                    <select class="form-control border-primary selectpicker" multiple="multiple" data-live-search="true" name="Employee" required>
                                        @foreach (var item in ViewBag.Emp)
                                        {
                                            <option value="@item.EmployeeId">@item.EmployeeName  @item.EmployeeLastName </option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <h4 class="form-section">
                            <i class="fa fa-ambulance"></i>مصدومین
                            <button type="button" class="btn btn-deep-orange col-md-3 add-row1 float-left">افزودن مصدوم</button>
                        </h4>
                        <div class="row justify-content-center" style="background-color:#dedede;">
                            <div class="col-md-12">
                                <div class="card card1 optionBox1">
                                    <!--//////////////////Add Injure Card///////////////////-->
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section mt-3">
                            <i class="fa fa-tools"></i>تجهیزات
                            <button type="button" class="btn btn-deep-orange col-md-3 add-row2 float-left">افزودن تجهیزات</button>
                        </h4>
                        <div class="row justify-content-center" style="background-color:#dedede;">
                            <div class="col-md-12">
                                <div class="card card2 optionBox2">
                                    <!--//////////////////Add Material Card///////////////////-->
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <i class="ft-mail"></i>اقدامات
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>اقدامات اولیه</h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentPreliminaryMeasures"></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentPreliminaryMeasures, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>شرح عملیات</h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentDescriptionOperation"></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentDescriptionOperation, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>شرح مشکلات</h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentOperationProblems"></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentOperationProblems, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>شرح خسارت وارده به تجهیزات</h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentDamageDescriptionL"></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentDamageDescriptionL, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>شرح خسارات وارده به محل حادثه</h6>
                                    <textarea id="userinput8" rows="3" class="form-control border-primary" name="AccidentDamageDescriptionO"></textarea>
                                    @Html.ValidationMessageFor(model => model.AccidentDamageDescriptionO, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>فرمانده عملیات<span class="required text-danger">*</span></h6>
                                    <select id="projectinput6" name="AccidentOperationsCommander" class="form-control border-primary selectpicker" data-live-search="true" required>
                                        @foreach (var item in ViewBag.Emp)
                                        {
                                            <option value="@item.EmployeeId">@item.EmployeeName  @item.EmployeeLastName </option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentOperationsCommander, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h6>تهیه کننده گزارش<span class="required text-danger">*</span></h6>
                                    <select id="projectinput6" name="AccidentReportProducer" class="form-control border-primary selectpicker" data-live-search="true" required>
                                        @foreach (var item in ViewBag.Emp)
                                        {
                                            <option value="@item.EmployeeId">@item.EmployeeName  @item.EmployeeLastName </option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AccidentReportProducer, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <h4 class="form-section"><i class="fa fa-location-arrow"></i>منطقه</h4>
                    <div class="col-md-2 m-auto">
                        <div class="form-group">
                            <h6>منطقه<span class="required text-danger">*</span></h6>
                            <input id="zone" class="form-control border-primary" type="text" name="AccidentZone" readonly />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <!--start map-->
                        <img src="~/Content/Shahrood.JPG" usemap="#workmap" class="img-fluid" />
                        <map name="workmap">
                            <area id="1" shape="rect"
                                  coords="0,0,299,199"
                                  onmousedown="showTutorial('1')">
                            <area id="2" shape="rect"
                                  coords="300,0,599,199"
                                  onmousedown="showTutorial('2')">
                            <area id="3" shape="rect"
                                  coords="600,0,899,199"
                                  onmousedown="showTutorial('3')">
                            <area id="4" shape="rect"
                                  coords="900,0,1199,199"
                                  onmousedown="showTutorial('4')">
                            <area id="5" shape="rect"
                                  coords="0,200,299,399"
                                  onmousedown="showTutorial('5')">
                            <area id="6" shape="rect"
                                  coords="300,200,599,399"
                                  onmousedown="showTutorial('6')">
                            <area id="7" shape="rect"
                                  coords="600,200,899,399"
                                  onmousedown="showTutorial('7')">
                            <area id="8" shape="rect"
                                  coords="900,200,1199,399"
                                  onmousedown="showTutorial('8')">
                            <area id="9" shape="rect"
                                  coords="0,400,299,599"
                                  onmousedown="showTutorial('9')">
                            <area id="10" shape="rect"
                                  coords="300,400,599,599"
                                  onmousedown="showTutorial('10')">
                            <area id="11" shape="rect"
                                  coords="600,400,899,599"
                                  onmousedown="showTutorial('11')">
                            <area id="12" shape="rect"
                                  coords="900,400,1199,599"
                                  onmousedown="showTutorial('12')">
                            <area id="13" shape="rect"
                                  coords="0,600,299,799"
                                  onmousedown="showTutorial('13')">
                            <area id="14" shape="rect"
                                  coords="300,600,599,799"
                                  onmousedown="showTutorial('14')">
                            <area id="15" shape="rect"
                                  coords="600,600,899,799"
                                  onmousedown="showTutorial('15')">
                            <area id="16" shape="rect"
                                  coords="900,600,1199,799"
                                  onmousedown="showTutorial('16')">
                        </map>
                        <script type="text/javascript">

                            function showTutorial(name) {
                                document.getElementById('zone').value = name
                            }
                            function myFunction() {
                                alert("شما منطقه 1 را انتخاب کردید ");
                            }
                        </script>
                        <!--end map-->
                        @Html.ValidationMessageFor(model => model.AccidentZone, "", new { @class = "text-danger" })
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-md-6 m-auto">
                            <h6>آپلود فایل اسکن شده گزارش</h6>
                            <div class="input-images">

                            </div>
                            <div class="align-self-center halfway-fab text-center">

                            </div>
                        </div>

                        <div class="col-md-12 m-auto">
                            <div class="text-center mt-2">
                                <h6 class="font1">
                                    برای تغییر تصویر خود ،
                                    تصویر جدید رو داخل کادر
                                    بیاندازید یا بر روی عکس کلیک
                                    کنید
                                </h6>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-4">
                            <input class="btn btn-large btn-success" type="submit" value="ثبت اطلاعات" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-12 p-4">
                <h4 class="cyan">
                    <i class="fa fa-warning"></i>  لطفا صحت تمامی موارد وارد شده را قبل از فشردن دکمه ثبت بررسی کنید
                </h4>
            </div>
        </div>
    </div>
}
<script>
    $('.input-images').imageUploader();
</script>
<script>
    $(document).ready(function () {
        $(function () {
            $('#file-input').imoViewer({
                'preview': '#image-previewer',
            })
        });
    });
    ////////////////Add Injure///////////
    $(document).ready(function () {
        var count = 0;
        $(".add-row1").click(function () {
            count += 1;
            var color = $(this).attr("data-hex");
            var name = $(this).attr("data-title");
            var deletes = "<button type=\"button\" class=\"remove with-fit btn btn-danger text-white mt-2\"><strong><i class=\"fa fa-close\"></i> حذف مصدوم " + count + " </strong></button>";
            var markup = "<div class=\"card\">\n" +
                "                                            <h4 class=\"form-section\">\n" +
                "                                                <i class=\"fa fa-user-plus\"></i>مصدوم شماره\n" + count + "  " + deletes +
                "                                            </h4>\n" +
                "                                            <div class=\"row justify-content-center pr-5 pl-5 mt-3 mb-3\">\n" +
                "                                                <div class=\"col-lg-3\">\n" +
                "                                                    <h6>نام<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <input type=\"text\" class=\"form-control border-primary\" name=\"InjuredName\" required>\n" +
                "                                                    \n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-3\">\n" +
                "                                                    <h6>نام خانوادگی<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <input type=\"text\" class=\"form-control border-primary\" name=\"InjuredLastName\" required>\n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-2\">\n" +
                "                                                    <h6>جنسیت<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <select class=\"form-control border-primary\" name=\"InjuredSex\" required>\n" +
                "                                                        <option selected hidden>انتخاب جنسیت</option>\n" +
                "                                                        <option value=\"1\">مرد</option>\n" +
                "                                                        <option value=\"0\">زن</option>\n" +
                "                                                    </select>\n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-2\">\n" +
                "                                                    <h6>مأمور/غیر مأمور<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <select class=\"form-control border-primary\" name=\"InjuredType\" required>\n" +
                "                                                        <option selected hidden>انتخاب</option>\n" +
                "                                                        <option value=\"1\">مأمور</option>\n" +
                "                                                        <option value=\"0\">غیر مأمور</option>\n" +
                "                                                    </select>\n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-2\">\n" +
                "                                                    <h6>نوع مصدومیت<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <select class=\"form-control border-primary\" name=\"InjuredTypeinjury\" required>\n" +
                "                                                        <option selected hidden>انتخاب</option>\n" +
                "                                                        <option value=\"1\">مجروح</option>\n" +
                "                                                        <option value=\"0\">متوفی</option>\n" +
                "                                                    </select>\n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-6 mt-3 mb-3\">\n" +
                "                                                    <h6>شرح مصدومیت<span class=\"required text-danger\">*</span></h6>\n" +
                "                                                    <input type=\"text\" class=\"form-control border-primary\" name=\"InjuredDescription\" required>\n" +
                "                                                </div>\n" +
                "                                                <div class=\"col-lg-6 mt-3 mb-3\">\n" +
                "                                                    <h6>محل اعزام</h6>\n" +
                "                                                    <input type=\"text\" class=\"form-control border-primary\" name=\"InjuredLocation\">\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                        </div>";
            $('.card1').append(markup);

        });
        $('.optionBox1').on('click', '.remove', function () {
            $(this).parent().parent().remove();
        });

    });

    let number_tools = 0;
    ////////////////Add Injure///////////
    $(document).ready(function () {
        var count = 0;
        $(".add-row2").click(function () {
            count += 1;
            var ListM =@Html.Raw(ViewBag.material) ;

            var deletes = "<button type=\"button\" class=\"remove with-fit btn btn-danger text-white mt-2\"><strong><i class=\"fa fa-close\"></i> حذف تجهیزات " + count + " </strong></button>";
            var markup = "<div class=\"card\">\n" +
                "             <h4 class=\"form-section\">\n" +
                "               <i class=\"fa fa-user-plus\"></i>تجهیزات شماره\n" + count + "  " + deletes +
                "             </h4>\n" +
                "           <div class=\"row justify-content-center pr-5 pl-5 mt-3 mb-3\">\n" +
                "                <div class=\"col-lg-3\">\n" +
                "                  <h6>نوع<span class=\"required text-danger\">*</span></h6>\n";

            var OptionRow = " <select class=\"form-control border-primary\" name=\"MaterialId\" required>\n";
            ListM.forEach(Material);
            function Material(item) {
                OptionRow = OptionRow + " <option value=" + item.Id + ">" + item.code + " (" + item.name + ") </option>\n";
            }
            OptionRow = OptionRow + "</select >\n";
            markup = markup + OptionRow;
            markup = markup+
                "                </div>\n" +
                "              <div class=\"col-lg-2\">\n" +
                "                 <h6>تعداد<span class=\"required text-danger\">*</span></h6>\n" +
                "                 <input type=\"number\" value=\"0\" class=\"form-control border-primary\" name=\"tedad\" min=\"0\" required>\n" +
                "              </div>\n" +
                "           </div>\n" +
                "         </div>";
            $('.card2').append(markup);
            number_tools++;

        });
        $('.optionBox2').on('click', '.remove', function () {
            $(this).parent().parent().remove();
        });

    });

    var txt = document.getElementById('droptxt'),
        content = document.getElementById('content'),
        list = document.querySelectorAll('.content1 input[type="checkbox"]'),
        quantity = document.querySelectorAll('.quantity');

    txt.addEventListener('click', function () {
        content.classList.toggle('show')
    })

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.list')) {
            if (content.classList.contains('show')) content.classList.remove('show')
        }
    }

    list.forEach(function (item, index) {
        item.addEventListener('click', function () {
            quantity[index].type = (item.checked) ? 'number' : 'hidden';
            calc()
        })
    })

    quantity.forEach(function (item) {
        item.addEventListener('input', calc)
    })

    function calc() {
        for (var i = 0, arr = []; i < list.length; i++) {
            if (list[i].checked) arr.push(quantity[i].value + ' x ' + list[i].value)
        }

        txt.value = arr.join(', ')
    }

    $(document).ready(function () {
        $("#OtherReason").click(function () {
            $("#otherReasonDiv").css("display", "block");

        });
    })

</script>