@model  FireStation.Models.ViewModel.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="loading">

<head>

    <title>صفحه ورود - سیستم مدیریت آتشنشانی</title>
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css">
</head>
<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <!--Login Page Starts-->
        <section id="login">
            <div class="container-fluid">
                <div class="row full-height-vh">
                    <div class="col-12 d-flex align-items-center justify-content-center gradient-bloody-mary">
                        <div class="card px-4 py-2 box-shadow-2 width-400">
                            @using (Html.BeginForm())
                            {
                                <div class="card-header text-center">
                                    <img src="~/Content/125_512x512.png" alt="company-logo" class="mb-3" width="80">
                                    <h4 class="text-uppercase text-bold-400 grey darken-1">ورود</h4>
                                </div>
                                <div class="card-body">
                                    <div class="card-block">
                                        <form>
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-5">
                                                            <input type="checkbox" class="custom-control-input" checked id="rememberme">
                                                            <label class="custom-control-label float-left" for="rememberme">مرا به خاطر بسپار</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-center col-md-12">
                                                    <button type="submit" class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0">ورود</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-footer grey darken-1">
                                    <div class="card-footer">
                                        <div class="text-center mb-2">
                                            <p>سازمان آتشنشانی و خدمات ایمنی شاهرود <sup>(125)</sup></p>
                                        </div>
                                        <div class="text-center">
                                            <p>Codein Programming Lab</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Login Page Ends-->
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/persian-datepicker.min.js"></script>
    <script src="~/Content/vendors/js/core/popper.min.js"></script>
    <script src="~/Content/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/vendors/js/prism.min.js"></script>
    <script src="~/Content/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/Content/vendors/js/screenfull.min.js"></script>
    <script src="~/Content/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/Content/js/app-sidebar.js"></script>
    <script src="~/Content/js/notification-sidebar.js"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
</body>

<!-- Mirrored from pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/demo-1/login-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Sep 2018 14:55:49 GMT -->
</html>
